<h1> Check out all of our <%= @department.name%> items</h1>
<br />
<hr />
<% @items.each do |item| %>
<h3> Item Name: <%= item.name %></h3>
<h3> Description: <%= item.description %></h3>
<h3> Price: <%= item.price %></h3>
<hr />
<% end %>
<%= link_to  "Back to Department page", department_path(@department.id) %>



