<h1> <%= @item.name %> </h1>
<h3> <%= @item.description %> </h3>
<h5> $<%= @item.price %> </h5>
<br />

<p> 
    <%= link_to  "Add more items to this department", new_department_item_path(@department.id) %>
    <%= link_to  "Edit this item", edit_department_item_path(@department.id, @item.id) %><%= link_to  "Delete this item", department_item_path, method: :delete %>
  </p>