<h1> <%= @item.name %> </h1>
<h3> <%= @item.description %> </h3>
<h5> $<%= @item.price %> </h5>
<br />
<h6> <%= link_to  "View All Comments", item_comments_path(@item.id) %></h6>
<p> 
  <%= link_to  "Back", department_items_path(@department.id) %>
  <br />
    <%= link_to  "Add more items to this department", new_department_item_path(@department.id) %>
    <br />
    <%= link_to  "Edit this item", edit_department_item_path(@department.id, @item.id) %>
    <br />
    <%= link_to  "Delete this item", department_item_path, method: :delete %>
    <br />
    <%= link_to  "Make a comment", new_item_comment_path(@item.id) %>
  </p>